//paleta de colores

$color1: #ffc0cb;
$color2: #ee82ee;
$color3: #f34db9;
$color4: #f5f5dc;
$color5: #000000;

//fonts

$font1: 'Times New Roman', Times, serif;
$font2: bold italic arial, malvetica, sans-serif;
$font3: Verdana, Geneva, Tahoma, sans-serif;